# 忽略构建产物
build/

# IDE 文件
.idea/
*.iml
.vscode/

# 系统文件
.DS_Store
Thumbs.db
jdk/
*.lnk
TV-jar-test-master

# Ignore Gradle project-specific cache directory
.settings/
.project
.gradle
.gitattributes
.gradle/
*.class
app/src/main/test/*
app/.classpath
app/.settings
app/.project
# Ignore Gradle build output directory
build
bin
